<app-top-nav></app-top-nav>
<div class="main__container">
  <section class="section__one">
    <h3>The World’s Most Configurable</h3>
    <h1>Travel & Expense Management Software</h1>
    <p>Configure <span>any</span> rule. Enable a world class mobile experience for your users. Get seamless reporting & integrations. Inbuilt OCR expense scanning. Manage travel & non-travel expenses. Open APIs to connect with external systems.</p>
    <div>
      <div class="trail__container__input">
        <input type="text" id="name" name="name" placeholder="Name">
        <input type="email" id="email" name="email" placeholder="Official email ID">
        <Button class="Navbar__Link Navbar__Link__Button" href="#">Start trail</Button>
      </div>
      <div class="trail__container_description">
        <span>30 Days free trial</span><span class="dot"></span><span>Upto 10 users</span>
      </div>
    </div>
    <div class="slider">
      <h4>USED BY OVER 50 ENTERPRISES</h4>
      <div class="slide-track">
        <div class="slide">
          <img src="../../assets/images/brand.svg" height="48" width="108" alt="" />
        </div>
        <div class="slide">
          <img src="../../assets/images/brand.svg" height="48" width="108" alt="" />
        </div>
        <div class="slide">
          <img src="../../assets/images/brand.svg" height="48" width="108" alt="" />
        </div>
        <div class="slide">
          <img src="../../assets/images/brand.svg" height="48" width="108" alt="" />
        </div>
        <div class="slide">
          <img src="../../assets/images/brand.svg" height="48" width="108" alt="" />
        </div>
        <div class="slide">
          <img src="../../assets/images/brand.svg" height="48" width="108" alt="" />
        </div>
        <div class="slide">
          <img src="../../assets/images/brand.svg" height="48" width="108" alt="" />
        </div>
        <div class="slide">
          <img src="../../assets/images/brand.svg" height="48" width="108" alt="" />
        </div><div class="slide">
          <img src="../../assets/images/brand.svg" height="48" width="108" alt="" />
        </div><div class="slide">
          <img src="../../assets/images/brand.svg" height="48" width="108" alt="" />
        </div><div class="slide">
          <img src="../../assets/images/brand.svg" height="48" width="108" alt="" />
        </div><div class="slide">
          <img src="../../assets/images/brand.svg" height="48" width="108" alt="" />
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2>Features that suit your needs</h2>
    <div class="card__container">
      <div class="card">
        <div class="card-header">
          <div class="img-div">
            <img class="img" src="../../assets/images/1.svg" />
            <img src="../../assets/images/Rectangle.svg" />
          </div>
          
          <h5>Setup Employee Groups</h5>
        </div>
        <div class="card-body">
          <p>Use any parameter to setup distinct employee groups to implement policies</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="img-div">
            <img class="img" src="../../assets/images/2.svg" />
            <img src="../../assets/images/Rectangle.svg" />
          </div>
          
          <h5>The Definitive Rule Engine</h5>
        </div>
        <div class="card-body">
          <p>Configure ANY policy - and if you can’t configure it, we promise to work on it for free</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="img-div">
            <img class="img" src="../../assets/images/3.svg" />
            <img src="../../assets/images/Rectangle.svg" />
          </div>
          
          <h5>Customized Reports</h5>
        </div>
        <div class="card-body">
          <p>Setup the reports that you want using our seamless reporting engine.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="img-div">
            <img class="img" src="../../assets/images/4.svg" />
            <img src="../../assets/images/Rectangle.svg" />
          </div>
          
          <h5>Superior Employee Experience</h5>
        </div>
        <div class="card-body">
          <p>Manage all expenses and travel requests easily. Empower your employees with personalized reports.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="img-div">
            <img class="img" src="../../assets/images/5.svg" />
            <img src="../../assets/images/Rectangle.svg" />
          </div>
          
          <h5>Easy Integrations</h5>
        </div>
        <div class="card-body">
          <p>Integrate with your upstream, HRMS or your downstream finance system to seamlessly deliver value through our Open APIs.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="img-div">
            <img class="img" src="../../assets/images/6.svg" />
            <img src="../../assets/images/Rectangle.svg" />
          </div>
          
          <h5>Configurable Workflows</h5>
        </div>
        <div class="card-body">
          <p>Configure approvals or rejections. Escalations and reports. At will. Setup new groups.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="img-div">
            <img class="img" src="../../assets/images/7.svg" />
            <img src="../../assets/images/Rectangle.svg" />
          </div>
          
          <h5>Scan any Bill</h5>
        </div>
        <div class="card-body">
          <p>The world’s best OCR system backs up this product. All data goes in. 99% success.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="img-div">
            <img class="img" src="../../assets/images/8.svg" />
            <img src="../../assets/images/Rectangle.svg" />
          </div>
          
          <h5>AI-Based Concierge</h5>
        </div>
        <div class="card-body">
          <p>Ask the concierge to change things during your travel - and it will trigger relevant
            actions 24x7.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="img-div">
            <img class="img" src="../../assets/images/9.svg" />
            <img src="../../assets/images/Rectangle.svg" />
          </div>
          
          <h5>AI-Assisted Trip Planning</h5>
        </div>
        <div class="card-body">
          <p>Just tell us what you want to do in normal language and we will try and put together the best itinerary for you.</p>
        </div>
      </div>
    </div>
  </section>
</div>